#test1{
    background: hsl(120,90%,90%);
    height:200px;
    width:200px;

    transition: width 2s, height 2s, background 5s;
    /* Alternate Syntax: */
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s; */
}

#test1:hover{
    background: hsl(0,100%,90%);
    height:400px;
    width:400px;
    left: 400px;
    transform: skew(30deg)
}