div {
    width: 300px;
    height: 100px;
    background-color: aqua;
    box-shadow: 10px 10px 5px  #888888;
    /* box-shadow: 3px  #888888; */
}

/* Component of box shadow:
box-shadow: Horizontal-Offset Vert-offset blue-distance spread-dist shadow-color

horizontal offset
- Positive value creates a shadow to the right.
- Negative value creates the shadow to the left

vertical offset
- Positive value creates a shadow to the left.
- Negative value creates the shadow to the right.

spread distance
- Optional value.
- Positive value expands the shadow in all directions.
- Negative value contracts the shadow.

blur distance
- An optional value which decides the percentage of blur effect takes only positive value.

color
- An optional value which specifies the shadow color.
 */
